body {
    font-family: 'Roboto', sans-serif;
}

#canvas {
    width: 100%;
    height: 100%;
    background: white;
    background-image: url("img/Water_ts_chart_small.png"); /* 2975 x 2227 */
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    image-rendering: auto;
}

#canvas-border {
    width: 1000px;
    height: 750px;
    position: absolute;
}

.faded-corner-border {
    padding: 2px;
    padding-right: 2.75px;
    background: linear-gradient(135deg, rgba(255,165,0,.8), rgba(0,0,0,0) 12%, rgba(0,0,0,0) 88%, rgba(255,165,0,.8) 100%),
                linear-gradient(225deg, rgba(255,165,0,.8), rgba(0,0,0,0) 12%, rgba(0,0,0,0) 88%, rgba(255,165,0,.8) 100%);
}

.hide-cursor {
    cursor: none;
}

.hidden {
    display: none;
}

div#main {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
}

/* Lay out CSS for the displayView table */

.data-table {
    width: 250px;
    margin: 10px;
}

table {
    position: relative;
    width: 250px;
}

.data-table h1 {
    text-align: center;
    color: #0008;
    font-size: 90px;
    font-weight: 100;
    margin-bottom: 0px;
}

tr {
    height: 36px;
    margin: 0px;
    padding: 0px;
}

.table-divider {
    height: 38px;
    border-top: 2px solid #ffa500;
}

td {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 20px;
}

td.row-name {
    text-align: center;
    width: 14%;
}

td.row-spacing1 {
    width: 9%;
}

td.row-value {
    width: 35%;
}

td.row-spacing2 {
    width: 7%;
}

td.row-units {
    width: 35%;
}

/*
sm: 576px
md: 768px
lg: 992px
xl: 1200px
*/
@media (min-width: 992px) {
    div#main {
        display: block;
        align-items: center;
        position: relative;
    }

    .data-table {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}